.container {
  margin-top: 200px;
}
.wrapper {
  margin-top: 30px;
  max-width: 800px;
  padding: 40px;

  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
  border: 10px solid var(--color-white);
  border-radius: 20px;
  box-shadow: var(--box-shadow);

  background-color: var(--color-orange);
}
.wrapper__back {
  display: flex;
  align-items: center;
  gap: 10px;
}
.go__back {
  color: var(--color-white);
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.go__back:hover {
  color: var(--color-active);
}

.list {
  margin: 0;
  padding: 0;
}
.list__item {
  font-size: 40px;
  list-style-type: none;
  color: var(--color-white);
}
.personImg {
  border: 2px solid var(--color-white);
  border-radius: 10px;
  object-fit: contain;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;

  transition: all 0.3s ease-out;
}
.icon:hover {
  transform: scale(1.1);
}

@media (max-width: 840px) {
  .wrapper {
    justify-content: start;
  }
  .list__item {
    font-size: 30px;
  }
}
@media (max-width: 750px) {
  .wrapper {
    justify-content: start;
  }
  .personImg {
    width: 300px;
  }
  .list__item {
    font-size: 20px;
  }
}
@media (max-width: 660px) {
  .container {
    margin-top: 100px;
  }
  .personImg {
    width: 200px;
  }
  .list__item {
    font-size: 20px;
  }
}
@media (max-width: 560px) {
  .container {
    margin-top: 70px;
  }
  .wrapper {
    margin-top: 15px;
  }
  .personImg {
    width: 200px;
  }
  .list__item {
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  .container {
    margin-top: 50px;
  }

  .personImg {
    width: 100%;
    object-fit: cover;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
}
