.list {
  padding: 0;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  list-style-type: none;
}
.list__items {
  padding: 10px;
  width: 200px;
  height: 300px;

  display: flex;

  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;

  cursor: pointer;

  transition: all 0.3s ease-out;
}
.name__char {
  font-size: 30px;
  word-wrap: break-word;
}
.img__char {
  width: 100%;

  border-radius: 5px;

  object-fit: contain;
}
