@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

:root {
  --color-yellow: #eaed1a;
  --color-active: #727331;
  --color-white: #fff;
  --color-blue: #37c6e5;

  --box-shadow: 1px 10px 17px 8px rgba(96, 96, 96, 0.67);
}

body {
  background-color: var(--color-blue);
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Concert One", sans-serif;
}
