.list {
	padding: 40px;

	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-items: center;
	border: 10px solid var(--color-white);
	border-radius: 20px;
	box-shadow: var(--box-shadow);

	list-style-type: none;
}
.list__items {
	padding: 10px;
	max-width: 200px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 10px;

	background-color: var(--color-white);
	border-radius: 5px;
	box-shadow: var(--box-shadow);

	cursor: pointer;
}

.name__person {
	text-align: center;
	font-size: 30px;
}

.img__person {
	width: 100%;

	border-radius: 5px;

	object-fit: contain;
}

@media (max-width: 370px) {
	.list {
		padding: 15px;

		border: 5px solid var(--color-white);
		border-radius: 20px;
	}
	.name__person {
		text-align: center;
		font-size: 15px;
	}
}
